.section-container {
  position: relative;
  margin: 30px 0;
}
.section-content {
  height: 320px;
  /* width: 100%; */
  padding: 4px 0;
  margin-left: -8px;
  margin-right: -8px;
  border-radius: 3px;
  /* background: rgb(41, 41, 41); */
  /* box-shadow: 0 0 6px 0 rgba(17, 17, 17, 0.3), 0 0 10px 0 rgba(22, 22, 22, 0.3); */
  /* overflow: hidden; */
  white-space: nowrap;
  vertical-align: top;
  transform: translateX(0);
  transition: 0.5s 0s transform ease;
}
.section-content span.chain-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
  height: 100%;
  padding: 0 8px;
  border-radius: 8px;
}
.card-container {
  background-size: 105%;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 4px;
  box-sizing: border-box;
  transition: 1.2s 0s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.section-content span:hover .card-container.bg-fit-w {
  background-size: 110% auto;
}
.section-content span:hover .card-container.bg-fit-h {
  background-size: auto 110%;
}
.navigate-btn {
  /* position: absolute; */
  display: flex;
  width: 100%;
  height: 40px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navigate-btn span.direction-btn {
  color: white;
  background: rgba(255, 255, 255, 0);
  width: 22px !important;
  height: 22px !important;
  cursor: pointer;
  font-size: 0.9em !important;
  margin: 0 5px;
  /* border: 2px solid rgba(23,23,23,0); */
  border-radius: 100px;
}
.navigate-btn span.direction-btn.hidden,
.navigate-btn span.direction-btn.hidden:hover {
  color: rgba(255, 255, 255, 0.253);
  background: transparent;
  cursor: initial;
}
.navigate-btn span.direction-btn:hover {
  color: black;
  background: rgba(255, 255, 255, 1);
  /* border: 2px solid rgba(17, 230, 123, 1); */
}
.navigate-btn span svg {
  display: block;
  margin: 4px auto 0 auto;
}
.dot-navigator {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.dot-navigator div.d {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 20px;
  margin: 0 8px;
  background: white;
  transition: 0.1s 0s all linear;
}
.dot-navigator div.d.scaled {
  transform: scale(2);
  background: rgba(17, 230, 123, 1);
}

/* sm-card */
.card-container.sm {
  position: relative;
  font-size: 0.8rem;
  overflow: hidden;
}
.card-container.sm .top-info-bar {
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}
.card-container.sm .top-info-bar .biz-type {
  vertical-align: top;
}
.card-container.sm .top-info-bar .biz-type svg.biz-type-icon {
  font-size: 1.2em;
  margin-right: 6px;
}
.card-container.sm .top-info-bar .ctrl-btn {
  margin: 0;
  font-size: 0.9em;
  padding: 1px 4px;
  border: 1px solid white;
  border-radius: 50px;
  margin-left: 6px;
}
.card-container.sm .top-info-bar .ctrl-btn svg {
  margin: 0;
}
.card-container.sm .footer-info-bar {
  z-index: 100;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 1rem;
  padding: 10px;
}
.footer-info-bar .biz-info * {
  margin: 0;
}
.footer-info-bar .biz-info h1.biz-name {
  font-family: 'Rubik', sans-serif;
  font-size: 1.4em;
  white-space: normal;
  margin-bottom: 2px;
}
.footer-info-bar .biz-info h1.biz-name span {
  display: inline-block;
  font-size: 0.5em;
  padding: 3px;
  width: 1.5em !important;
  height: 1.5em !important;
  border-radius: 50px;
  background: rgba(60, 102, 216, 0.911);
  transform: translateY(-3px);
}
.footer-info-bar .biz-info p {
  font-family: 'Noto sans', sans-serif;
  font-size: 0.9em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 4px;
}
.footer-info-bar .biz-info p .percentage,
.footer-info-bar .biz-info p .price-range {
  font-weight: 700;
  margin-right: 5px;
}
.footer-info-bar .biz-info p .categories {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.footer-info-bar .biz-info p .top-cat {
  display: inline-block;
  text-transform: capitalize;
  font-size: 0.9em;
  padding: 0px 8px;
  /* border: 1px solid white; */
  background: rgb(255, 255, 255);
  color: rgb(148, 13, 13);
  border-radius: 3px;
}
.footer-info-bar .biz-info p.location-link {
  color: rgb(255, 255, 255);
  font-family: 'Noto sans', sans-serif;
}
.footer-info-bar .info-icon {
  display: inline-block;
  margin-right: 5px;
  width: 16px;
  text-align: center;
}
.footer-info-bar .text-seperator {
  display: inline-block;
  margin-right: 5px;
}
.vignette.bottom {
  z-index: 80;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0),rgba(0,0,0,0.7),rgba(0,0,0,0.9));
}
/* global */
.bg-fit-h {
  background-size: auto 100%;
  background-position: center center;
}