.single-content {
  
}
.display-frame {
  height: 280px;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 4px;
  overflow: hidden;
}
.display-frame .feature-content {
  position: relative;
  height: 280px;
  white-space: nowrap;
  vertical-align: top;
  transform: translateX(0);
  transition: 0.8s 0s transform ease;
}
.display-frame .feature-content span.display-canvas {
  position: relative;
  display: inline-block;
  height: 100%;
  background-color: black;
  /* padding: 0 8px; */
}
.feature-content span .card-container {
  opacity: 0.9;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  border: none;
  border-radius: 0px;
  box-sizing: border-box;
  transition: 1.2s 0s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.feature-content span:hover .card-container.bg-fit-w {
  background-size: 110% auto;
}
.feature-content span:hover .card-container.bg-fit-h {
  background-size: auto 110%;
}
.feature-content span .card-container .ads-text {
  z-index: 100;
}
.bg-filter {
  z-index: 80;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
}
/* card info layer */
.top-info {
  z-index: 200;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}
.top-info .card-buttons {
  margin: 0;
}
.top-info .card-buttons span.ctrl-btn {
  cursor: pointer;
  font-size: 0.75em;
  padding: 2px 8px;
  border: 1px solid white;
  border-radius: 20px;
  margin: 5px;
  text-transform: capitalize;
  transition: 0.2s 0s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.top-info .card-buttons span.ctrl-btn.activated {
  border: 1px solid rgb(3, 189, 81);
  background: rgb(3, 189, 81);
}
.top-info .card-buttons span.ctrl-btn svg {
  margin-right: 5px;
}
.vignette {
  z-index: 180;
  position: absolute;
  top: 0;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0.5));
  width: 100%;
  height: 100%;
}
.footer-info {
  z-index: 200;
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}
.footer-info .card-info {
  display: flex;
  align-items: center;
  margin: 5px;
}
.footer-info .card-info .logo-thumbnail {
  width: 32px;
  height: 32px;
  border: 2px solid white;
  border-radius: 50px;
  margin-right: 10px;
}
.footer-info .card-info .business-link {
  font-size: 1em;
  line-height: 1em;
}
.footer-info .card-info .business-link p {
  margin: 0;
}
.footer-info .card-info .business-link p.main span{
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}
.footer-info .card-info .business-link p.sub {
  font-family: 'Noto sans', sans-serif;
  font-weight: 300;
  font-size: 0.8em;
  color: rgb(255, 255, 255);
}
.footer-info .card-info .business-link p.sub span {
  text-transform: capitalize;
  font-weight: 600;
}