.input-control {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  /* padding: 10px 10px; */
  border-radius: 2px;
}
.input-label {
  display: block;
  font-size: 0.8em;
  font-weight: 500;
  text-transform: uppercase;
  /* margin-left: 14px; */
}
.input-field {
  display: block;
  width: 100%;
  padding: 6px 14px;
  border: 2px solid white;
  border-radius: 3px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
}
.input-field:hover {
  border: 2px solid rgb(28, 214, 75);
}
.input-field:focus {
  outline: none;
  border: 2px solid rgb(28, 214, 75);
}
.input-field.w-100 {
  width: 100%;
}
.info-text {
  display: block;
  opacity: 0.5;
  font-size: 0.7em;
  /* font-style: oblique; */
  margin: 10px 0;
}