.bd-r-50 {
  border-radius: 100px;
}
.bd-tr-50 {
  border-top-right-radius: 100px;
}
.bd-br-50 {
  border-bottom-right-radius: 100px;
}
.bd-bl-50 {
  border-bottom-left-radius: 100px;
}
.bd-tl-50 {
  border-top-left-radius: 100px;
}
.ft-s {
  font-size: 0.75em;
  font-family: 'Nato Sans', sans-serif;
}
.w-75 {
  width: 75%;
}
.w-25 {
  width: 25%;
}
.w-40 {
  width: 40%;
}
.w-60 {
  width: 60%;
}
.btn-d {
  cursor: pointer;
  padding: 6px 12px;
  border: 1px solid rgb(158, 158, 158);
  border-radius: 100px;
  font-family: 'Nato Sans', sans-serif;
  font-weight: 500;
  font-size: 0.75em;
  letter-spacing: 1px;
  text-decoration: none;
  color: rgb(185, 185, 185);
  background-color: transparent;
}
.inp-d {
  padding: 6px 12px;
  border: 2px solid rgb(158, 158, 158);
  border-radius: 4px;
  font-family: 'Nato Sans', sans-serif;
  color: rgb(185, 185, 185);
  background-color: transparent;
}
.inp-d:focus {
  padding: 6px 12px;
  border: 2px solid rgba(182, 255, 191, 1);
  border-radius: 4px;
  font-family: 'Nato Sans', sans-serif;
  color: rgba(182, 255, 191, 1);
  background-color: transparent;
}
.inp-btn {
  cursor: pointer;
  padding: 6px 12px;
  border: 2px solid rgb(158, 158, 158);
  border-radius: 4px;
  font-family: 'Nato Sans', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  /* text-transform: uppercase; */
  color: rgb(185, 185, 185);
  background-color: transparent;
}
.inp-btn:hover {
  border: 2px solid rgba(182, 255, 191, 1);
  border-radius: 4px;
  color: rgba(182, 255, 191, 1);
  /* color: rgb(40, 44, 52); */
}
.btn-d:hover {
  border: 1px solid white;
  color: white;
}
.bg-c-white {
  color: rgb(40, 44, 52);
  background-color: white;
  border: 1px solid white;
}