.payment-tag {
  display: inline-block;
  /* padding: 2px 6px; */
  /* border: 1px solid rgb(175, 175, 175); */
  font-size: 1.5em;
  border-radius: 6px;
  margin-right: 10px;
  margin-bottom: 5px;
  text-transform: capitalize;
  background: rgb(240, 251, 255);
  /* box-shadow: 0 2px 10px 0 rgba(139, 139, 139, 0.562); */
}