.story-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
  /* max-height: 50vh; */
  border-radius: 3px;
  background: white;
  margin-bottom: 20px;
  overflow: hidden;
}
.story-card:hover .story-cover img {
  transform: scale(1.05) translateY(-50%);
  opacity: 1;
}
.story-cover {
  position: relative;
  /* bottom: 0; */
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.story-cover img {
  position: absolute;
  top: 50%;
  transform: scale(1) translateY(-50%);
  transition: 1s 0s all cubic-bezier(0.075, 0.8, 0.2, 1);
}
/* global */
.img-cm {
  width: 100%;
}
.story-info {
  /* position: absolute;
  bottom: 0px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: white;
  width: 100%;
  padding: 10px 20px 20px 20px;
  border-top: 4px solid rgb(19, 219, 69);
}
.story-detail {
  font-size: 0.7em;
  color: rgb(83, 83, 83);
  margin-bottom: 0px;
}
.col-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* padding: 5px 20px 5px 5px; */
  border-radius: 50px;
  margin-right: 20px;
  /* background: rgb(255, 255, 255);
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1); */
}
.owner-picture {
  width: 30px;
  height: 30px;
  /* border: 2px solid rgb(255, 255, 255); */
  margin: 0 10px 0 0;
  border-radius: 50%;
  background-size: auto 100%;
  background-position: center center;
}
/* .owner-info {
  display: flex;
  flex-direction: row;
} */
.owner-name {
  font-size: 0.7em;
  margin: 0;
}
.owner-title {
  font-size: 0.6em;
  color: rgb(112, 112, 112);
  margin: 0;
}
.story-header {
  font-size: 1.4em;
  font-weight: 700;
  margin-bottom: 5px;
}
.story-caption {
  font-size: 0.8em;
  line-height: 1.6em;
  /* height: 1.4em; */
  margin-bottom: 10px;
  overflow: hidden;
}
.expend-text-btn {
  cursor: pointer;
  font-weight: 700;
  /* margin: 0 5px; */
  padding: 0 6px;
  border-radius: 2px;
}
.expend-text-btn:hover {
  background: rgb(230, 255, 249);
}