.ads-card {
  position: relative;
  overflow: hidden;
  transition: 0.5s 0s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.ads-card.verti {
  position: relative;
  width: 16vmax;
  height: 24vmax;
  overflow: hidden;
}
.ads-card.square {
  position: relative;
  width: 24vmax;
  height: 24vmax;
}
.ads-card.horiz {
  position: relative;
  width: 32vmax;
  height: 24vmax;
}
img.ads-img {
  position: relative;
  transition: 0.5s 0s all cubic-bezier(0.075, 0.82, 0.165, 1)
}
img.ads-img.fit-height {
  height: 100%;
  left: 50%;
  transform: translateX(-50%) scale(1.01);
}
img.ads-img.fit-width {
  width: 100%;
  top: 50%;
  transform: translateY(-50%) scale(1.01);
}
/* .ads-card:hover img.ads-img.fit-height {
  transform: translateX(-50%) scale(1.1);
}
.ads-card:hover img.ads-img.fit-width {
  transform: translateY(-50%) scale(1.1);
} */
.ads-title, .ads-sub, .ads-text {
  position: absolute;
  top: 0;
  padding: 0 5%;
  width: 100%;
}
.ads-title {
  font-size: 1.2em;
  transform: translate(0,-50%);
}
.ads-sub {
  font-size: 1em;
  transform: translate(0,-50%);
}
.ads-text {
  font-size: 0.8em;
  transform: translate(0,-50%);
}
.light {
  font-weight: 300;
}
.bold {
  font-weight: 700;
}
.upper {
  text-transform: uppercase;
}
.lower {
  text-transform: lowercase;
}
.cap {
  text-transform: capitalize;
}
.wh {
  color: white;
}
.bl {
  color: black;
}
.font-1 {
  font-family: 'Merriweather', serif;
}
.font-2 {
  font-family: 'Roboto', sans-serif;
}
.font-3 {
  font-family: 'Montserrat', sans-serif;
}
.font-4 {
  font-family: 'Source Sans Pro', sans-serif;
}
.font-5 {
  font-family: 'Nato Sans', sans-serif;
}
.font-6 {
  font-family: 'PT Sans', sans-serif;
}
.font-7 {
  font-family: 'Futura', sans-serif;
}