.business-search {
  position: relative;
  width: 100%;
  color: rgb(255, 255, 255);
  background: rgb(255, 255, 255);
  background-size: 100%;
  padding-top: 60px;
  min-height: 100vh;
}
.bkdrp {
  z-index: 80;
  position: absolute;
  width: 100%;
  height: calc(100vh - 60px);
  background: rgba(0, 0, 0, 0.322);
}
.business-search-form {
  z-index: 100;
  position: relative;
  width: 75vw;
  height: calc(100vh - 60px);
  padding: 20px 10px 40px 10px;
  margin: auto;
}
.header-1 {
  font-size: 2.6rem;
  text-transform: uppercase;
  margin: 0;
  padding: 30px 0 30px 0;
}
.header-sub-1 {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}
.header-sub-2 {
  padding: 40px 0 20px 0;
  font-family: 'Montserrat', sans-serif;
}
.form-group-inline {
  display: flex;
  flex-direction: row;
}
.business-search-results {
  position: relative;
  color: white;
  width: 100vw;
  height: calc(100vh - 60px);
  max-height: calc(100vh - 60px);
  padding: 30px 7.5vw;
  margin: auto;
  background: rgb(13, 34, 37);
  /* background: rgb(238, 255, 251); */
}
.result-section-title {
  width: 100%;
  font-size: 1.8em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: left;
  margin: 0 0 20px 0;
}
.result-container {
  display: flex;
  flex-direction: row;
  justify-content:  space-between;
  align-items: center;
  height: 100%;
  border-radius: 10px;
  /* background: white; */
  /* border: 1px solid rgba(204, 204, 204, 0.322); */
  /* overflow: hidden; */
}
.result-map {
  width: 30%;
  height: 400px;
  border-radius: 10px !important;
  position: relative;
  overflow: hidden;
  /* background: white; */
  /* box-shadow: 0 0 6px 1px rgba(85, 85, 85, 0.1), 0 0 10px 3px rgba(85, 85, 85, 0.1); */
}
.result-object {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space;
  color: rgb(187, 255, 232);
  /* border-top: 3px solid rgb(19, 216, 107); */
  border-radius: 0 0 10px 10px;
  min-width: 600px;
  width: 60%;
  height: 100%;
  padding: 0px;
  margin: 0;
  /* background: white; */
  /* box-shadow: 0 4px 20px 0 rgba(0,0,0,0.2); */
  /* overflow: hidden; */
  transition: 0.4s 0s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.result-object:hover {
  /* border: 3px solid rgb(5, 180, 113); */
  /* transform: scale(1.05); */
}
.result-object:hover .result-img img {
  opacity: 1;
}
.result-img {
  border-radius: 6px;
  position: relative;
  height: 200px;
  width: 200px;
  overflow: hidden;
  background: rgb(0, 0, 0);
  background-size: auto 100%;
  background-position: center center;
}
.result-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  transition: 0.4s 0s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.result-detail {
  width: 100%;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  text-align: left;
  padding: 0px 0px;
}
.result-name {
  width: max-content;
  font-size: 3em;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  border-bottom: 2px solid white;
  padding-bottom: 5px;
  margin-bottom: 20px;
}
.result-price-type {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-weight: 500;
}
.result-price-type .result-price,
.result-price-type .result-type {
  display: inline-flex;
  align-items: center;
  font-size: 1.2em;
  text-transform: uppercase;
  margin-right: 20px;
}
.result-address {
  font-size: 1.2em;
  font-weight: 300;
}
.info-icon {
  display: inline-block;
  font-size: 1.2em;
  width: 1.4em !important;
}
.claim-form {
  width: 100%;
  /* border: 1px solid rgba(0, 0, 0, 0.11); */
  border-radius: 10px;
  margin-top: 40px;
  /* margin-left: -40px;
  padding: 15px; */
  text-align: left;
}
.claim-btns {
  width: max-content;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.claim-btns button {
  width: max-content;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em;
  padding: 15px 20px;
  margin-right: 10px;
  transition: 0.4s 0s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.claim-btns button.btn-link {
  cursor: pointer;
  color: white;
  border: none;
  width: max-content;
  padding: 15px;
}
.common-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 20px;
  width: 70%;
}
.claim-btns button:hover {
  /* border-radius: 100px; */
}
.flx-row {
  display: flex;
  flex-direction: row !important;
  flex-wrap: nowrap;
}