.claim-business-page {
  color: rgb(24, 24, 24);
  /* background: linear-gradient(rgb(67, 163, 252), rgb(239, 255, 196), rgb(255, 195, 210)); */
  background: rgb(231, 252, 246);
  font-family: 'PT Sans', sans-serif;
  padding: 0;
}
.form-fields {
  padding: 20px 20vw;
}
.page-title {
  font-size: 2rem;
  font-weight: 700;
}
.page-text.common {
  font-weight: 300;
}
.input-form.business {
  width: 100%;
}
.inline-input-control {
  padding: 10px;
  margin: 20px auto;
  border: 1px solid rgba(110, 230, 220, 0.979);
  border-radius: 6px;
  box-shadow: 0 0 8px 0 rgba(33, 43, 44, 0.116);
}
.inline-input-control.flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.input-options {
  position: relative;
  display: block;
  font-size: 1rem;
  padding: 6px 8px;
  min-width: 60px;
  width: 100%;
  margin-right: 20px;
  border: 2px solid white;
  border-radius: 100px;
  background: white;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
}
.input-options:hover, .input-options:focus {
  border: 2px solid rgb(247, 27, 75);
}
.input-options select {
  width: 100%;
  border-radius: 100px;
  background: transparent;
  padding: 0;
  border: none;
}
.input-options select:focus {
  outline: none;
}
.submit-btn-control {
  padding: 20px;
  margin: 20px auto;
}
.input-submit {
  cursor: pointer;
  display: block;
  width: 50%;
  color: rgb(240, 240, 240);
  font-size: 1rem;
  font-weight: 700;
  padding: 6px 14px;
  border-radius: 100px;
  margin: auto;
  background: linear-gradient(rgb(247, 8, 108), rgb(247, 8, 108));
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
  transition: 0.2s 0s all cubic-bezier(0.165, 0.84, 0.44, 1);
}
.input-submit:hover {
  transform: translateY(-5px);
  box-shadow: 0 7px 12px 0 rgba(0,0,0,0.2);
}
.input-submit:disabled {
  color: rgb(218, 218, 218); 
  background: white;
  opacity: 1;
}
.input-submit:disabled:hover {
  transform: translateY(0);
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
}