.explore-page {
  position: absolute;
  color: black;
  background: rgb(245, 245, 245);
}
.map-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 480px;
  width: 100vw;
  margin-top: 62px;
  margin-bottom: 20px;
  background: rgb(32, 27, 51);
}
.map-theme-toggle {
  cursor: pointer;
  z-index: 100;
  position: absolute;
  color: rgb(19, 38, 62);
  width: 2.2rem;
  height: 2.2rem;
  /* text-align: center; */
  white-space: nowrap;
  border-radius: 1.1rem;
  font-size: 1rem;
  padding: 6px 0 0 9px;
  margin: 14px 20px;
  background: white;
  box-shadow: 0 2px 4px 0 rgba(41, 41, 41, 0.2);
  transition: 0.2s 0s all cubic-bezier(0.075, 0.82, 0.165, 1);
  overflow: hidden;
}
.map-theme-toggle.dark {
  color: white;
  background: rgb(19, 38, 62);
}
.map-theme-toggle:hover {
  width: 70px;
}
.map-theme-toggle span {
  display: inline-block;
  font-size: 0.7rem;
  font-weight: 700;
  height: 1rem;
  transform: translate(8px, -2px);
}
.search-display {
  position: absolute;
  transform: translateY(-120%);
  display: block;
  width: 100vw;
  height: 140px;
  padding: 20px 20px 0 20px;
  overflow: scroll;
  white-space: nowrap;
  transition: 0.2s 0s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.search-display::-webkit-scrollbar {
  display: none;
}
.search-display.right {
  position: relative;
  /* display: flex;
  flex-direction: column; */
  width: calc(60vw);
  height: 100%;
  margin: 0;
  padding: 0;
  transform: translate(0, 0%);
  overflow-y: scroll;
}
.search-display.right .happening-title {
  /* z-index: 100;
  position: absolute;
  top: 0; */
  width: 100%;
  border-radius: 0;
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 1px;
}
.search-display.right .search-result {
  display: flex;
  border-radius: 0;
  height: 120px;
  width: calc(100%);
  border: none;
  border-left: 4px solid white;
  margin: 4px 0;
}
.search-display.right .search-result.highlight {
  border-left: 4px solid rgb(47, 235, 22);
  transform: translateX(0);
}
.search-display.right .search-result:hover {
  border-left: 4px solid rgb(22, 150, 235);
  transform: translateX(0);
}
.search-result {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'PT Sans', sans-serif;
  height: 120px;
  width: 300px;
  padding: 8px 12px;
  border: 4px solid white;
  border-radius: 10px;
  margin-right: 10px;
  color: black;
  background-color: rgb(255, 255, 255);
  /* background-image: url('../images/event-img-01.jpg'); */
  background-position: center center;
  background-size: 100% auto;
  box-shadow: 0 2px 4px 0 rgba(41, 41, 41, 0.2);
  overflow: hidden;
  transition: 0.2s 0s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.search-result:hover {
  border: 4px solid rgb(22, 150, 235);
  transform: translateY(-8px);
}
.search-result.highlight {
  border: 4px solid rgb(52, 230, 96);
}
.business-detail {
  width: 75%;
}
.business-detail .head {
  display: flex;
  flex-direction: column;
  height: max-content;
}
h4.business-name {
  margin: 2px 10px 0 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 700;
}
.business-type {
  color: rgb(83, 83, 83);
  text-transform: capitalize;
  font-size: 0.8rem;
  font-weight: 300;
  margin: 5px 0;
}
.business-icon,
.address-icon, 
.time-icon {
  margin-right: 3px;
}
.business-icon {
  color: rgb(49, 49, 49);
}
.time-icon {
  font-size: 0.7rem;
}
.formatted-address, 
.opening-hours {
  font-size: 0.8rem;
  margin: 2px 0;
  white-space: nowrap;
}
.opening-hours {
  color: rgb(192, 68, 10);
}
.opening-hours.opened {
  color: rgb(10, 192, 55);
}
.business-type span, 
.formatted-address span, 
.opening-hours span {
  display: inline-block;
  text-align: center;
  width: 1.2rem;
}
.search-result .buttons {
  display: flex;
  flex-direction: row;
}
.like-icon, .save-icon {
  color: rgb(241, 241, 241);
  margin: 2px 2px 0 8px;
}
.like-icon path, .save-icon path {
  stroke: rgb(234, 234, 234);
  stroke-width: 40;
}
.like-icon.liked, 
.save-icon.saved {
  color: rgb(57, 240, 127);
}
.like-icon.liked path, 
.save-icon.saved path {
  stroke: rgb(57, 240, 127);
}
.like-icon:hover path, .save-icon:hover path {
  /* color: rgb(57, 240, 127); */
  stroke: rgb(57, 240, 127);
}
.more-text {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  padding: 0 12.5vw;
}
.happening-title {
  width: max-content;
  padding: 10px 20px;
  margin: 0;
  border-radius: 6px;
  font-family: 'PT Sans', sans-serif;
  font-size: 0.8rem;
  background: white;
  box-shadow: 0 2px 4px 0 rgba(41, 41, 41, 0.2);
  white-space: nowrap;
}
.happening-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* width: 75vw; */
  height: max-content;
  min-height: 200px;
  padding: 20px 14vw;
  /* padding: 20px 0 0 0; */
  /* border: 1px dashed red; */
}
.bound {
  width: 30%;
  font-family: 'PT Sans', sans-serif;
}
.bound.main {
  width: 60%;
}
.bound.sub-1 {
  width: 38%;
}
.content-title {
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0 0 15px 0;
}
.frame {
  position: relative;
  font-family: 'PT Sans', sans-serif;
  height: 300px;
  color: black;
  border-radius: 4px;
  background-color: rgb(31, 31, 31);
  /* background-image: url('../images/event-img-01.jpg'); */
  background-position: center center;
  background-size: 100% auto;
  box-shadow: 0 2px 4px 0 rgba(41, 41, 41, 0.2);
  overflow: hidden;
}
.frame .post-at {
  position: absolute;
  right: 0;
  margin: 10px;
  font-size: 0.8rem;
  color: white;
}
.frame .object-image {
  width: 100%;
  opacity: 0.4;
}
.frame .info-head {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80%;
}
.info-head .object-title {
  color: white;
  font-size: 2.2rem;
  font-weight: 500;
  padding: 0 5%;
  width: 100%;
}
.info-head .object-title.story {
  width: 80%;
  font-size: 1.8rem;
}
.info-head .object-date {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0 5%;
}
.info-detail p {
  margin: 0 0 6px 0;
}
.location {
  font-weight: 700;
}
.info-detail {
  position: absolute;
  bottom: 0;
  padding: 10px 5% 20px 5%;
  background-color: rgba(255, 255, 255, 1);
}
.brief-desc {
  width: 70%;
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  height: 4.4em;
  overflow: hidden;
  color: rgb(58, 58, 58);
}
.detail-icon {
  display: inline-block;
  transform: scale(1);
  width: 2rem;
  margin: 0 10px 0 0;
  color: rgb(6, 88, 84);
}
.detail-icon.fa-info-circle {
  position: relative;
  top: 3px;
}
.frame.main {
  width: 100%;
  height: 300px;
}

/* map style */
.marker-icon {
  stroke: white;
  transform: scale(0.2);
}