.app-header {
  /* background-color: rgb(235, 235, 235); */
  position: fixed;
  width: 100%;
  z-index: 300;
  margin: auto;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 7.5vw;
  /* font-size: calc(10px + 2vmin); */
  font-size: 1.4em;
  background-color: rgb(40, 44, 52);
  background: linear-gradient( rgb(0, 72, 107), rgb(15, 94, 167));
  border-bottom:1px solid rgb(0, 81, 146);
  /* color: rgb(20, 20, 20); */
}
.left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
h1.app-name {
  display: inline-block;
  color: white;
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'PT Sans', sans-serif; */
  font-family: 'Nato Sans', sans-serif;
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 1px;
  /* width: 160px; */
  /* margin: 0 40px 0 5vw; */
  text-align: center;
  /* text-shadow: 0 0 3px rgba(38, 44, 53, 0.2); */
  white-space: nowrap;
  margin: 0 40px 0 0;
}
h1.app-name svg {
  margin: 0 2px 1px 1px;
  font-size: 0.85em;
}
ul.nav-link {
  display: inline-block;
}
ul.nav-link, .auth-link {
  width: 20vw;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}
ul.nav-link {
  text-align: left;
  /* transform: translateY(-2px); */
}
.auth-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  height: 30px;
  /* transform: translateY(-3px); */
}
ul.nav-link li, .auth-link li  {
  display: inline-block;
  height: 30px;
}
ul.nav-link li a, 
.signup-btn, 
.login-btn, 
.logout-btn  {
  cursor: pointer;
  padding: 3px 15px;
  font-family: 'Nato Sans', sans-serif;
  border-radius: 3px;
  font-weight: 500;
  font-size: 0.6em;
  text-decoration: none;
  letter-spacing: 1px;
  height: 100%;
  color: rgb(255, 255, 255);
  margin: auto 0 auto 15px;
}
.login-btn  {
  background-color: initial;
}
ul.nav-link li a:hover {
  color: white;
}
.login-btn {
  border: 1px solid rgb(209, 209, 209);
}
.logout-btn {
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgb(236, 114, 42);
  background-color: rgb(236, 114, 42);
  /* for web */
  transition: 0.1s 0s all ease-in;
  box-shadow: 0 0 6px 0 rgba(38, 44, 53, 0.2);
}
.signup-btn {
  height: 100%;
  color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgb(2, 187, 79);
  background-color: rgb(2, 187, 79);
  /* for web */
  /* transition: 0.1s 0s all ease-in; */
}
.signup-btn:hover {
  color: white;
  border: 1px solid rgb(0, 216, 90);
  background-color: rgb(0, 216, 90);
  /* for web */
  /* transform: translateY(-2px) */
}
.login-btn:hover {
  color: white;
  border: 1px solid rgb(255, 255, 255);
  background-color: transparent;
  /* for web */
  /* transform: translateY(-2px) */
}
.logout-btn:hover {
  color: white;
  border: 1px solid rgb(247, 132, 64);
  background-color: rgb(247, 132, 64);
  /* for web */
  /* transform: translateY(-2px) */
}
.welcome-user {
  color: rgba(255, 255, 255, 0.9);
  /* height: 100%; */
  font-size: 0.6em;
  /* transform: translateY(4px); */
}
.welcome-user a.preference-link {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.9);
  text-decoration: underline;
  padding: 4px 2px 4px 2px;
  border: none;
  border-radius: 100px;
}
.welcome-user a.preference-link:hover {
  color: white;
  border: none;
  background-color: initial;
}
button:focus {
  outline: none;
}
.form-control:focus {
  outline: none;
}

.development-bar {
  z-index: 100;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  left: 0%;
  bottom: 0px;
  width: 1.8rem;
  height: 1.8rem;
  font-family: 'PT Sans', sans-serif;
  font-size: 0.7em;
  font-weight: 500;
  border-radius: 0.9rem;
  /* border-radius: 4px 4px 0 0; */
  margin: 5px;
  transform: translate(0%, 0);
  background-color: rgb(31, 189, 80);
  box-shadow: 0 2px 4px 0 rgba(41, 41, 41, 0.2);
  overflow: hidden;
  white-space: nowrap;
  transition: 0.4s 0s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.development-bar.opened {
  width: 38%;
  height: 1.8rem;
  /* border-radius: 0px; */
}
.development-bar p {
  margin: 10px;
}
.development-bar a {
  font-weight: 700;
  margin: 10px;
}
.development-bar a:hover {
  z-index: 100;
  color: white;
  text-decoration: underline;
}
.development-bar .open-devbar {
  cursor: pointer;
  font-size: 1rem;
  margin: 10px 10px;
  transition: 0.3s 0s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.development-bar.opened .open-devbar {
  transform: rotate(-90deg);
}
